<mat-card>
  <mat-spinner *ngIf='isLoading'></mat-spinner>
  <form [formGroup]="form" (ngSubmit)='onSavePost()' *ngIf="!isLoading">
    <mat-form-field>
      <input
      type="text"
      name="title"
      matInput
      placeholder="Title"
      formControlName="title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a valid title</mat-error>
    </mat-form-field>
    <div>
      <button type="button" mat-stroked-button (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img src="{{imagePreview}}" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea
      matInput
      name="content"
      placeholder="Content"
      formControlName="content"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter some Content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Add</button>
    <button type="submit" class="custom-btn">Submit</button>
  </form>
</mat-card>
